body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.welcome-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: #6C63FF;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color:  #4640bb;
}
